.onl-inrs-banner-sections-abouts
{
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    background-image: url('./../images/ABOUT US.jpg');
    background-attachment: fixed;
    background-size:cover;
    position: relative;
    height:70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    margin-top:70px;
}

.onl-inrs-banner-sections-faq
{
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    background-image: url('./../images/FAQS.jpg');
    background-attachment: fixed;
    background-size:cover;
    position: relative;
    height:70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    margin-top:70px;
}
.onl-inrs-banner-sections-abouts:before,.onl-inrs-banner-sections-faq:before,
.onl-inrs-banner-sections-jobs:before,.onl-inrs-banner-sections-premium:before,
.onl-inrs-banner-sections-privacy:before,.onl-inrs-banner-sections-how-works:before,
.onl-inrs-banner-sections-resoucres:before
{
  content: '';
  position: absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  width:100%;
  float: left;
  height:100%;
  background-color:rgba(0,0,0,0.6);

}
.onl-sub-inners-about-section 
{
    width:800px;
    margin: 0 auto;
    padding: 0;
   
}
.card-outer-about
 {
    width: 100%;
    float: left;
    padding: 0 50px;
    margin: 0;
}
span.about-assigments
 {

    font-size: 15px;
    color: #666;
    float: left;
    line-height: 22px;
    margin: 0;
    box-sizing: border-box;
}
span.core {
    font-size: 18px;
    float: left;
    width: 100%;
    line-height: 28px;
    text-transform: capitalize;
}
.faq .onl-banner-sections .onl-inrs-banner-sections-faq 
{   
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    background-image: url('./../images/FAQS.jpg');
    background-attachment: fixed;
    background-size:cover;
    position: relative;
    height:70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    margin-top:70px;
}
.onl-inrs-banner-sections-jobs
{
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    background-image: url('./../images/JOBS.jpg');
    background-attachment: fixed;
    background-size:cover;
    position: relative;
    height:70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    margin-top:70px;
}
.onl-inrs-banner-sections-premium
{
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    background-image: url('./../images/PREMIUM.jpg');
    background-attachment: fixed;
    background-size:cover;
    position: relative;
    height:70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    margin-top:70px;
}
.onl-inrs-banner-sections-privacy
{
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    background-image: url('./../images/ABOUT US.jpg');
    background-attachment: fixed;
    background-size:cover;
    position: relative;
    height:70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    margin-top:70px; 
}
.onl-inrs-banner-sections-how-works
{
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    background-image: url('./../images/HOW IT WORKS.jpg');
    background-attachment: fixed;
    background-size:cover;
    position: relative;
    height:70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    margin-top:70px; 
}
.onl-inrs-banner-sections-resoucres
{
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    background-image: url('./../images/RESOURCES.jpg');
    background-attachment: fixed;
    background-size:cover;
    position: relative;
    height:70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    margin-top:70px; 
}


.notif-item
{
    position: fixed;
    text-align: center;
    width:600px!important;
    height:400px;
    overflow-y: auto;
    float: left;
    border-radius:5px 0 0 5px;
    background: #fff;
    right: 0;
    bottom: 0;
    -webkit-box-shadow: -5px -5px 61px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px -5px 61px 0px rgba(0,0,0,0.75);
    box-shadow: -5px -5px 61px 0px rgba(0,0,0,0.75);
 
}

span.online-headers-test
{
    text-align: center;
    width:100%;
}
.notify-form-outers 
{
    width:50%;
    float: left;
    background:#fff;
}
.notify-form-lefts
{
    width:50%;
    float: left;
}
.notify-content-abouts 
{
    width: 100%;
    float: left;
    text-align: center;
    padding-top: 50px;
}
.notify-parents 
{
    width: 100%;
    float: left;
    height: 100%;
}
.notify-sub-inner-sections
{
    width: 100%;
    float: left;
    padding: 15px 15px 15px 15px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
span.notify-content-sec 
{
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 18px;
    color: #666;
    margin: 0;
    padding: 0;
    line-height:28px;
    letter-spacing: 1.2px;
    font-weight: 600;
}
span.notify-sub-inner-text {
    width: 100%;
    float: left;
    font-size: 15px;
    line-height: 24px;
    box-sizing: border-box;
    padding: 0;
    color: #666;
}